# Ignore everything by default inside samples/, meditation_samples/, samples_piano_nature/, and edm_samples/
samples/**
meditation_samples/**
samples_piano_nature/**
edm_samples/**

# Allow specific subfolders
!samples/80_A/**
!samples/drums/**
!meditation_samples/**
!samples_piano_nature/**
!edm_samples/**

# Ignore venv and Python cache
venv/
__pycache__/
*.pyc

# Ignore everything in output folders by default (if needed)
output_songs/**
meditation_output/**
output_piano_nature/**
meditation_tracks/**
edm_output/**