# Ignore venv and Python cache
venv/
__pycache__/
*.pyc


edm_output/**
!edm_output/

edm_samples/**
!edm_samples/

input_wavs/**
!input_wavs/

meditation_output/**
!meditation_output/

meditation_samples/**
!meditation_samples/

meditation_tracks/**
!meditation_tracks/

output_mp3s/**
!output_mp3s/

output_piano_nature/**
!output_piano_nature/

output_songs/**
!output_songs/

samples/**
!samples/

samples_piano_nature/**
!samples_piano_nature/